<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <!--测试JS异步请求的Servlet  -->
  <servlet>
  		<servlet-name>testAjax</servlet-name>
  		<servlet-class>cn.itcast.day44.demo01.TestAjaxServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>testAjax</servlet-name>
  		<url-pattern>/testAjax.servlet</url-pattern>
  </servlet-mapping>
  
  <!--测试Json-Lib的servlet  -->
  <servlet>
  		<servlet-name>testJsonLib</servlet-name>
  		<servlet-class>cn.itcast.day44.demo04.TestJsonLibServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>testJsonLib</servlet-name>
  		<url-pattern>/testJsonLib.servlet</url-pattern>
  </servlet-mapping>
  
  <!--测试验证用户名的异步请求的Servlet  -->
  <servlet>
  		<servlet-name>checkUsername</servlet-name>
  		<servlet-class>cn.itcast.day44.demo05.web.servlet.CheckUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>checkUsername</servlet-name>
  		<url-pattern>/checkUsername.servlet</url-pattern>
  </servlet-mapping>
</web-app>