<HTML>
<HEAD>
<style type="text/css">
body { margin:0;padding:0;}
</style>
</HEAD>
<BODY>
<!-- 52_302903_e11415f126781bf -->
<table width="99.99%" border="0" cellpadding="0" cellspacing="0" bgcolor="#003562" id="Table_01"  style="font-family:Verdana, Arial, Helvetica, sans-serif;	line-height:160%;">
  <tr> 
    <td colspan="3" valign="top"><img src="../images/回形针/tl.gif" width="109" height="51" /></td>
  </tr>
  <tr> 
    <td width="68" valign="top" background="../images/回形针/m_tl.gif"  style="background-repeat:repeat-y;background-position:top right;"><img src="../images/spacer.gif" width="67" height="1" /></td>
    <td valign="top" background="../images/回形针/m_bg.gif" bgcolor="#E6F1F9"><img src="../images/回形针/ml.gif" width="41" height="68" /></td>
    <td width="6%" valign="top" background="../images/回形针/m_tr.gif" bgcolor="#003562"><img src="../images/spacer.gif" width="61" height="1" /></td>
  </tr>
  <tr>
      <td width="7%" valign="top" background="../images/回形针/m_bgl.gif" bgcolor="#003562" style="background-repeat:repeat-y;background-position:top right;">&nbsp;</td> 
    <td width="100%" valign="top" background="../images/回形针/bg.gif" bgcolor="#E6F1F9" style="height:300px;padding:10px 26px 20px 26px;color:#003463">
		<TABLE width="100%">
		<TR>
			<TD valign="top" style="line-height:160%">
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
			        <FONT size=2 face=Verdana color=#003463>
				<DIV>
					
						<IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif">
					
				</DIV>
				<DIV>&nbsp;</DIV>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif">
					</FONT>
				</DIV>
				<DIV align=left>
					<HR align=left style="WIDTH: 122px; HEIGHT: 2px" SIZE=2>
				</DIV>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif">
					</FONT>
				</DIV>
				<HR>
				<DIV>
					<STRONG>发件人：</STRONG> 
						<IMG id=_FoxOFROMNAME src="..\Macro\_FoxOFROMNAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>发送时间：</STRONG> 
						<IMG id=_FoxODATE src="..\Macro\_FoxODATE.gif">&nbsp;
						<IMG id=_FoxOTIME src="..\Macro\_FoxOTIME.gif">
					
				</DIV>
				<DIV>
					<STRONG>收件人：</STRONG> 
						<IMG id=_FoxOTONAME src="..\Macro\_FoxOTONAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>抄送：</STRONG> 
						<IMG id=_FoxOCCNAME src="..\Macro\_FoxOCCNAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>主题：</STRONG> 
						<IMG id=_FoxOSUBJ src="..\Macro\_FoxOSUBJ.gif">				
				</DIV>
				</FONT>
				<DIV>&nbsp;</DIV>
				<DIV><IMG id=_FoxTEXT src="..\Macro\_FoxTEXT.gif"></DIV>
			</DIV>
			</TD>
		</TR>
		</TABLE>	
	</td>
    <td width="6%" valign="top" background="../images/回形针/m_bgr.gif" bgcolor="#003562">&nbsp;</td>
  </tr>
  <tr> 
    <td valign="top">&nbsp;</td>
    <td align="right" valign="top"><img src="../images/回形针/dr.gif" width="131" height="18" /><br />
      <br />    </td>
    <td valign="top">&nbsp;</td>
  </tr>
</table>
</BODY>
</HTML>