<HTML>
<HEAD>
<style type="text/css">
body {
	padding:0;
	margin:0;
}
</style>
</HEAD>
<BODY>
<!-- 52_302903_e11415f126781bf -->
<table width="99.99%" border="0" cellpadding="0" cellspacing="0" background="../images/宣纸2/bg.jpg" id="Table_01" style="font-family:Verdana, Arial, Helvetica, sans-serif;">
  <tr > 
    <td width="100%" valign="top" background="../images/宣纸2/tl.jpg" style="background-position:left top;background-repeat:no-repeat;height:300px;padding:68px 30px 20px 40px"> 
		<TABLE width="100%" valign="top" style="cellpadding: 0px; cellspacing: 0px; margin-top: 0px; margin-Left: 0px">
		<TR>
			<TD valign="top" style="line-height:160%">
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
				<FONT face=Verdana color=#000080 size=2>
				<DIV><IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif"></DIV>

				<DIV>&nbsp;</DIV>
				<DIV><IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif"></DIV>
				<HR align=left style="WIDTH: 122px; HEIGHT: 2px" SIZE=2>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif">
					</FONT>
				</DIV>
				<HR>
				<DIV>
					<STRONG>发件人：</STRONG> 
						<IMG id=_FoxOFROMNAME src="..\Macro\_FoxOFROMNAME.gif">
				</DIV>
				<DIV>
					<STRONG>发送时间：</STRONG> 
						<IMG id=_FoxODATE src="..\Macro\_FoxODATE.gif">&nbsp;
						<IMG id=_FoxOTIME src="..\Macro\_FoxOTIME.gif">
				</DIV>
				<DIV>
					<STRONG>收件人：</STRONG> 
						<IMG id=_FoxOTONAME src="..\Macro\_FoxOTONAME.gif">
				</DIV>
				<DIV>
					<STRONG>抄送：</STRONG> 
						<IMG id=_FoxOCCNAME src="..\Macro\_FoxOCCNAME.gif">
				</DIV>
				<DIV>
					<STRONG>主题：</STRONG> 
						<IMG id=_FoxOSUBJ src="..\Macro\_FoxOSUBJ.gif">
				</DIV>
				</FONT>
				<DIV>&nbsp;</DIV>
				<DIV>
					<IMG id=_FoxTEXT src="..\Macro\_FoxTEXT.gif">
				</DIV>
			</DIV>
			</TD>
		</TR>
		</TABLE>    
	</td>
  </tr>
</table>
</BODY>
</HTML>