<HTML>
<HEAD>
<style type="text/css">
body {
	padding:0;
	margin:0;
}
</STYLE>
</HEAD>
<BODY>
<!-- 52_302903_e11415f126781bf -->
<table id="Table_01" width="99.99%" border="0" cellpadding="0" cellspacing="0" background="../images/悠闲海/bg.jpg"  style="font-family:Verdana, Arial, Helvetica, sans-serif;">
  <tr> 
    <td colspan="2" align="right" background="../images/悠闲海/t_bg.jpg"><table width="413" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td background="../images/悠闲海/tr.jpg"><img src="../images/spacer.gif" alt="" name="t_01" width="415" height="112" id="t_01" /></td>
        </tr>
    </table>
        </td>
  </tr>
  <tr > 
    <td colspan="2" align="right" valign="top" ><table width="352" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td background="../images/悠闲海/m_tr.jpg"><img src="../images/spacer.gif" width="352" height="59" /></td>
        </tr>
    </table>
        </td>
  </tr>
  <tr > 
    <td width="100%" valign="top"> 
		<TABLE width="100%" style="cellpadding: 0px; cellspacing: 0px; margin-top: 0px; margin-Left: 0px">
		<TR>
			<TD style="height:300px;padding:20px 20px 20px 70px;color:#003d6a;line-height:160%;" valign="top">
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
				<FONT size=2 face=Verdana color=#003d6a>
                <DIV><IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif"></DIV>
				<DIV>&nbsp;</DIV>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif">
					</FONT>
				</DIV>
				<HR align=left style="WIDTH: 122px; HEIGHT: 2px" SIZE=2>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif">
					</FONT>
				</DIV>
				<HR>
				<DIV>
					<STRONG>发件人：</STRONG> 
						<IMG id=_FoxOFROMNAME src="..\Macro\_FoxOFROMNAME.gif">
				</DIV>
				<DIV>
					<STRONG>发送时间：</STRONG> 
						<IMG id=_FoxODATE src="..\Macro\_FoxODATE.gif">&nbsp;
						<IMG id=_FoxOTIME src="..\Macro\_FoxOTIME.gif">
				</DIV>
				<DIV>
					<STRONG>收件人：</STRONG> 
						<IMG id=_FoxOTONAME src="..\Macro\_FoxOTONAME.gif">
				</DIV>
				<DIV>
					<STRONG>抄送：</STRONG> 
						<IMG id=_FoxOCCNAME src="..\Macro\_FoxOCCNAME.gif">
				</DIV>
				<DIV>
					<STRONG>主题：</STRONG> 
						<IMG id=_FoxOSUBJ src="..\Macro\_FoxOSUBJ.gif">
				</DIV>
				</FONT>
				<DIV>&nbsp;</DIV>
				<DIV><IMG id=_FoxTEXT src="..\Macro\_FoxTEXT.gif"></DIV>
			</DIV>
			</TD>
		</TR>
		</TABLE>
    </td>
    <td width="64" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td background="../images/悠闲海/m_dr.jpg"><img src="../images/spacer.gif" width="64" height="132" /></td>
        </tr>
    </table>
        </td>
  </tr>
  <tr align="right"> 
    <td colspan="2"><table width="168" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td background="../images/悠闲海/dr.jpg"><img src="../images/spacer.gif" alt="" name="t_17" width="168" height="102" id="t_17" /></td>
        </tr>
    </table>
        </td>
  </tr>
</table>
</BODY>
</HTML>
