<HTML>
<HEAD>
<style type="text/css">
body {
	padding:0;
	margin:0;
}
</STYLE>
</HEAD>
<BODY>
<!-- 52_302903_e11415f126781bf -->
<table width="99.99%" border="0" cellpadding="0" cellspacing="0" background="../images/本子/m_bg_tr.gif" id="Table_01" style="font-family:Verdana, Arial, Helvetica, sans-serif;background-position:right top;">
  <tr> 
    <td valign="top" background="../images/本子/tl.gif"><img src="../images/spacer.gif" width="61" height="1" /></td>
    <td width="100%" align="right" valign="top" background="../images/本子/t_bg.gif">&nbsp;</td>
    <td width="103" align="right" valign="top" background="../images/本子/t_mr.gif"><img src="../images/spacer.gif" width="103" height="1" /><img src="../images/spacer.gif" width="103" height="1" /></td>
    <td valign="top" background="../images/本子/tr.gif"><img src="../images/spacer.gif" width="73" height="60" /></td>
  </tr>
  <tr> 
    <td rowspan="2" valign="top" background="../images/本子/m_bg_tl.gif">&nbsp; </td>
    <td width="100%" colspan="2" rowspan="2" valign="top" bgcolor="#F9F5E9" style="height:300px;padding:30px 20px 20px 20px;"> 
		<TABLE width="100%" style="cellpadding: 0px; cellspacing: 0px; margin-top: 0px; margin-Left: 0px">
		<TR>
			<TD style="color:#4c4743;line-height:160%;" valign="top">
			
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
			        <FONT size=2 face=Verdana color=#4c4743>
                                <DIV>					
						<IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif">					
				</DIV>
				<DIV>&nbsp;</DIV>
				<DIV>
					
						<IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif">
					
				</DIV>
				<DIV align=left>
					<HR align=left style="WIDTH: 122px; HEIGHT: 2px" SIZE=2>
				</DIV>
				<DIV>
					<FONT color=#c0c0c0 >
						<IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif">
					</FONT>
				</DIV>
				<HR>
				<DIV>
					<STRONG>发件人：</STRONG> 
						<IMG id=_FoxOFROMNAME src="..\Macro\_FoxOFROMNAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>发送时间：</STRONG> 
						<IMG id=_FoxODATE src="..\Macro\_FoxODATE.gif">&nbsp;
						<IMG id=_FoxOTIME src="..\Macro\_FoxOTIME.gif">
					
				</DIV>
				<DIV>
					<STRONG>收件人：</STRONG> 
						<IMG id=_FoxOTONAME src="..\Macro\_FoxOTONAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>抄送：</STRONG> 
						<IMG id=_FoxOCCNAME src="..\Macro\_FoxOCCNAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>主题：</STRONG> 
						<IMG id=_FoxOSUBJ src="..\Macro\_FoxOSUBJ.gif">
					
				</DIV> 
				</FONT>
				<DIV>&nbsp;</DIV>
				<DIV><IMG id=_FoxTEXT src="..\Macro\_FoxTEXT.gif"></DIV>
			</DIV>			</TD>
		</TR>
		</TABLE>	</td>
    <td valign="top" background="../images/本子/m_tr.gif" style="background-repeat:no-repeat;background-position:left top;"><img src="../images/spacer.gif" width="1" height="204" /></td>
  </tr>
  <tr>
      <td valign="top" background="../images/本子/m_bg_tr.gif">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" background="../images/本子/dl.gif"><img src="../images/spacer.gif" width="61" height="1" /></td>
    <td colspan="2" valign="top" background="../images/本子/d_bg.gif">&nbsp;</td>
    <td valign="top" background="../images/本子/dr.gif"><img src="../images/spacer.gif" width="73" height="47" /></td>
  </tr>
</table>
</BODY>
</HTML>