<HTML>
<HEAD>
<style type="text/css">
body {
	padding:0;
	margin:0;
}
</STYLE>
</HEAD>
<BODY>
<!-- 52_302903_e11415f126781bf -->
<table width="99.99%" border="0" cellpadding="0" cellspacing="0" background="../images/透明胶/m_bgl.jpg" id="Table_01" style="font-family:Verdana, Arial, Helvetica, sans-serif;">
  <tr> 
    <td rowspan="3" valign="top" background="../images/透明胶/tl.jpg" style="background-repeat:no-repeat;"><img src="../images/spacer.gif" width="54" height="1" />    </td>
    <td valign="top" background="../images/透明胶/t_bg.jpg"><table width="76" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td background="../images/透明胶/t_ml.jpg"><img src="../images/spacer.gif" width="76" height="50" /></td>
            </tr>
        </table></td>
    <td rowspan="3" valign="top" background="../images/透明胶/m_bgr.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td background="../images/透明胶/tr.jpg"><img src="../images/spacer.gif" width="58" height="359" /></td>
        </tr>
    </table>
        </td>
  </tr>
  <tr> 
    <td valign="top" background="../images/透明胶/bg.jpg"><table width="76" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td background="../images/透明胶/m_tl.jpg"><img src="../images/spacer.gif" width="76" height="55" /></td>
            </tr>
        </table></td>
  </tr>
  <tr> 
    <td width="100%" valign="top" background="../images/透明胶/bg.jpg" style="height:300px;padding:0 50px 0 50px;">
		<TABLE width="99%" style="cellpadding: 0px; cellspacing: 0px; margin-top: 0px; margin-Left: 0px">
		<TR>
			<TD style="line-height:160%;" valign="top">
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
				<FONT size=2 face=Verdana color=#000080>
				<DIV><IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif"></DIV>
				<DIV>&nbsp;</DIV>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif">
					</FONT>
				</DIV>
				<HR align=left style="WIDTH: 122px; HEIGHT: 2px" SIZE=2>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif">
					</FONT>
				</DIV>
				<HR>
				<DIV>
					<STRONG>发件人：</STRONG> 
						<IMG id=_FoxOFROMNAME src="..\Macro\_FoxOFROMNAME.gif">
				</DIV>
				<DIV>
					<STRONG>发送时间：</STRONG> 
						<IMG id=_FoxODATE src="..\Macro\_FoxODATE.gif">&nbsp;
						<IMG id=_FoxOTIME src="..\Macro\_FoxOTIME.gif">
				</DIV>
				<DIV>
					<STRONG>收件人：</STRONG> 
						<IMG id=_FoxOTONAME src="..\Macro\_FoxOTONAME.gif">
				</DIV>
				<DIV>
					<STRONG>抄送：</STRONG> 
						<IMG id=_FoxOCCNAME src="..\Macro\_FoxOCCNAME.gif">
				</DIV>
				<DIV>
					<STRONG>主题：</STRONG> 
						<IMG id=_FoxOSUBJ src="..\Macro\_FoxOSUBJ.gif">
				</DIV>
				</FONT>
				<DIV>&nbsp;</DIV>
				<DIV><IMG id=_FoxTEXT src="..\Macro\_FoxTEXT.gif"></DIV>
			</DIV>
			</TD>
		</TR>
		</TABLE>	
	</td>
  </tr>
  <tr> 
    <td rowspan="2" valign="bottom" background="../images/透明胶/dl.jpg"><img src="../images/spacer.gif" width="54" height="1" /></td>
    <td height="100%" align="right" valign="top" background="../images/透明胶/bg.jpg"><table width="68" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td background="../images/透明胶/m_dr.jpg"><img src="../images/spacer.gif" width="68" height="63" /></td>
        </tr>
    </table>
        </td>
    <td rowspan="2" valign="top" background="../images/透明胶/dr.jpg"><img src="../images/spacer.gif" width="58" height="121" /></td>
  </tr>
  <tr> 
    <td height="100%" align="right" valign="top" background="../images/透明胶/d_bg.jpg"><table width="126" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td background="../images/透明胶/d_mr.jpg"><img src="../images/spacer.gif" width="126" height="58" /></td>
        </tr>
    </table>
        </td>
  </tr>
</table>
</BODY>
</HTML>