<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day48demo/src/cn/itcast/day48/demo02/TestJedisPool.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="cn.itcast.day48.demo02.TestJedisPool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day48demo"/>
</launchConfiguration>
