<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day22_account2/src/com/itheima/thread/ThreadLoacalDemo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.itheima.thread.ThreadLoacalDemo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day22_account2"/>
</launchConfiguration>
