<HTML>
<HEAD>
<style type="text/css">

body { margin:0;padding:0;}

</STYLE>
</HEAD>
<BODY>
<!-- 52_302903_e11415f126781bf -->
<table id="Table_01" width="99.99%" border="0" cellpadding="0" cellspacing="0" style="font-family:Verdana, Arial, Helvetica, sans-serif;	line-height:160%;background:#fff">
  <tr> 
    <td width="98" valign="top" background="../images/打孔/tl.gif"><img src="../images/spacer.gif" width="98" height="67" /></td>
    <td width="100%" align="right" valign="top" background="../images/打孔/t_bg.gif">&nbsp;</td>
    <td width="46" align="right" valign="top" background="../images/打孔/t_mr.gif""><img src="../images/spacer.gif" width="46" height="1" /></td>
    <td width="80" valign="top" background="../images/打孔/tr.gif"><img src="../images/spacer.gif" width="80" height="57" /></td>
  </tr>
  <tr> 
    <td valign="top" background="../images/打孔/m_bgl.gif">&nbsp; </td>
    <td width="100%" colspan="2" valign="top" background="../images/打孔/bg.gif"> 
		<TABLE width="100%" valign="top" height="100%" style="margin-top: 0px; cellpadding: 0px; cellspacing: 0px">
		<TR>
			<TD style="height:300px; padding:0px 0pt; line-height:30px;" valign="top" height="100%">
			<FONT size=2 face=Verdana>
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
				<DIV><IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif"></DIV>
				<DIV>&nbsp;</DIV>
				<DIV>
					<FONT color=#c0c0c0><IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif"></FONT>
				</DIV>
				<DIV><FONT color=#c0c0c0><IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif"></FONT></DIV>
			</DIV>	
			</FONT>
			</TD>
		</TR>
		</TABLE>	</td>
    <td valign="top" background="../images/打孔/m_bgr.jpg">&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" background="../images/打孔/dl.gif"><img src="../images/spacer.gif" width="98" height="45" /></td>
    <td colspan="2" valign="top" background="../images/打孔/d_bg.gif">&nbsp;</td>
    <td valign="top" background="../images/打孔/dr.gif"><img src="../images/spacer.gif" width="80" height="45" /></td>
  </tr>
</table>
</BODY>
</HTML>