<HTML>
<HEAD>
<style type="text/css">
body {
	padding:0;
	margin:0;
}
</STYLE>
</HEAD>
<BODY>
<!-- 52_302903_e11415f126781bf -->
<table width="99.99%" border="0" cellpadding="0" cellspacing="0" background="../images/水果/m_bg_tl.jpg" id="Table_01" style="font-family:Verdana, Arial, Helvetica, sans-serif;">
  <tr>
    <td valign="top" background="../images/水果/tl.jpg"><img src="../images/spacer.gif" width="153" height="1" /></td>
    <td width="108" valign="top" background="../images/水果/t_ml.jpg"><img src="../images/spacer.gif" width="108" height="1" /></td>
    <td width="100%" valign="top" background="../images/水果/t_bg.jpg">&nbsp;</td>
    <td valign="top" background="../images/水果/tr.jpg"><img src="../images/spacer.gif" width="25" height="86" /></td>
  </tr>
  <tr> 
    <td height="104" valign="top" background="../images/水果/m_tl.jpg" style="background-repeat:no-repeat;">&nbsp;</td>
    <td width="100%" colspan="2" rowspan="2" valign="top" bgcolor="#DAF4FA" style="height:300px;padding:37px 38px 10pt 10pt;color:#003399"> 
		<TABLE width="100%" valign="top" width="100%" style="cellpadding: 0px; cellspacing: 0px; margin-top: 0px; margin-Left: 0px">
		<TR>
			<TD style="line-height:160%">
			<FONT size=2 face=Verdana  color=#003399>
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
				<DIV><IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif"></DIV>
				<DIV>&nbsp;</DIV>
				<DIV><FONT color=#c0c0c0><IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif"></FONT></DIV>
				<HR align=left style="WIDTH: 122px; HEIGHT: 2px" SIZE=2>
				<DIV><FONT color=#c0c0c0 ><IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif"></FONT></DIV>
			</DIV>		
			</FONT>
			</TD>
		</TR>
		</TABLE>	</td>
    <td valign="top" background="../images/水果/m_bg_tr.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td background="../images/水果/m_tr.jpg"><img src="../images/spacer.gif" width="25" height="104" /></td>
        </tr>
    </table>
        </td>
  </tr>
  <tr>
      <td height="100%" valign="top" background="../images/水果/m_bg_tl.jpg">&nbsp;</td>
      <td height="100%" valign="top" background="../images/水果/m_bg_tr.jpg">&nbsp;</td>
  </tr>
</table>
</BODY>
</HTML>