<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<!-- 过滤器,解决中文乱码问题 -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>cn.itcast.demo01.web.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.servlet</url-pattern>
	</filter-mapping> 
	
	<!-- 查询商品信息 -->
	<servlet>
		<servlet-name>productListServlet</servlet-name>
		<servlet-class>cn.itcast.demo01.web.servlet.ProductListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productListServlet</servlet-name>
		<url-pattern>/product.servlet</url-pattern>
	</servlet-mapping>
	
	<!-- 添加商品 -->
	<servlet>
		<servlet-name>productAddServlet</servlet-name>
		<servlet-class>cn.itcast.demo01.web.servlet.ProductAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productAddServlet</servlet-name>
		<url-pattern>/productAdd.servlet</url-pattern>
	</servlet-mapping>
	
	<!-- 添加商品转换页面 -->
	<servlet>
		<servlet-name>productGoAddServlet</servlet-name>
		<servlet-class>cn.itcast.demo01.web.servlet.ProductGoAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productGoAddServlet</servlet-name>
		<url-pattern>/productGoAdd.servlet</url-pattern>
	</servlet-mapping>
	
	<!-- 删除商品 -->
	<servlet>
		<servlet-name>productDeleteServlet</servlet-name>
		<servlet-class>cn.itcast.demo01.web.servlet.ProductDeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productDeleteServlet</servlet-name>
		<url-pattern>/productDelete.servlet</url-pattern>
	</servlet-mapping>
	
	<!-- 修改商品转跳页面 -->
	<servlet>
		<servlet-name>productGoModifyUIServlet</servlet-name>
		<servlet-class>cn.itcast.demo01.web.servlet.ProductGoModifyUIServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productGoModifyUIServlet</servlet-name>
		<url-pattern>/productGoModifyUI.servlet</url-pattern>
	</servlet-mapping>
	
	<!-- 修改商品 -->
	<servlet>
		<servlet-name>productModifyServlet</servlet-name>
		<servlet-class>cn.itcast.demo01.web.servlet.ProductModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>productModifyServlet</servlet-name>
		<url-pattern>/productModify.servlet</url-pattern>
	</servlet-mapping>
	
</web-app>