<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day36demo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 测试取得请求行、请求头的Servlet -->
  <servlet>
  		<servlet-name>test</servlet-name>
  		<servlet-class>cn.itcast.day36.demo01.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  		<servlet-name>test</servlet-name>
  		<url-pattern>/test.servlet</url-pattern>
  </servlet-mapping>
  <!-- 测试请求参数的Servlet -->
	<servlet>
		<servlet-name>param</servlet-name>
		<servlet-class>cn.itcast.day36.demo02.TestParamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>param</servlet-name>
		<url-pattern>/testParam.servlet</url-pattern>	
	</servlet-mapping>
	<!-- 案例一：注册用户的Servlet -->
	<servlet>
		<servlet-name>regist</servlet-name>
		<servlet-class>cn.itcast.day36.demo03.servlet.RegistServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>regist</servlet-name>
		<url-pattern>/regist.servlet</url-pattern>	
	</servlet-mapping>
</web-app>