<HTML>
<HEAD>
<style type="text/css">
body {
	padding:0;
	margin:0;
}
</style>
</HEAD>
<BODY>
<table id="Table_01" width="99.99%" border="0" cellpadding="0" cellspacing="0" style="	font-family:Verdana, Arial, Helvetica, sans-serif;">
  <tr background="../images/咖啡/t_bg.jpg"> 
    <td width="75" valign="top" background="../images/咖啡/tl.jpg" style="background-position:top right;"><img src="../images/spacer.gif" width="56" height="1" /></td>
    <td width="100%" align="right" valign="top" background="../images/咖啡/t_bg.jpg">&nbsp;</td>
    <td width="122" align="right" valign="top" background="../images/咖啡/t_mr.jpg" style="background-position:top right;background-repeat:repeat-y;"><img src="../images/spacer.gif" width="122" height="1" /></td>
    <td valign="top" background="../images/咖啡/tr.jpg" width="55" height="110"></td>
  </tr>
  <tr> 
    <td valign="top" background="../images/咖啡/m_bgl.jpg" bgcolor="#FFF8E8" style="background-repeat:repeat-y;background-position:top right;"></td>
    <td height="100%" colspan="2" valign="top" bgcolor="#FFF8E8"> 
		<TABLE width="100%" style="cellpadding: 0px; cellspacing: 0px; margin-top: 0px; margin-Left: 0px">
		<TR>
			<TD valign="top" style="height:300px;padding:0 30px 20px 30px;line-height:160%;">
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
			      <FONT size=2 face=Verdana color=#000080> 
				<DIV>
					
						<IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif">
					
				</DIV>
				<DIV>&nbsp;</DIV>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif">
					</FONT>
				</DIV>
				<DIV align=left>
					<HR align=left style="WIDTH: 122px; HEIGHT: 2px" SIZE=2>
					<DIV>
						<FONT color=#c0c0c0 >
							<IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif">
						</FONT>
					</DIV>
				</DIV>
				<FONT size=2 face=Verdana color=#000080><HR></FONT>
				<DIV>
					<STRONG>发件人：</STRONG> 
						<IMG id=_FoxOFROMNAME src="..\Macro\_FoxOFROMNAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>发送时间：</STRONG> 
						<IMG id=_FoxODATE src="..\Macro\_FoxODATE.gif">&nbsp;
						<IMG id=_FoxOTIME src="..\Macro\_FoxOTIME.gif">
					
				</DIV>
				<DIV>
					<STRONG>收件人：</STRONG> 
						<IMG id=_FoxOTONAME src="..\Macro\_FoxOTONAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>抄送：</STRONG> 
						<IMG id=_FoxOCCNAME src="..\Macro\_FoxOCCNAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>主题：</STRONG> 
						<IMG id=_FoxOSUBJ src="..\Macro\_FoxOSUBJ.gif">
					
				</DIV>
			     </FONT>
				<DIV>&nbsp;</DIV>
				<DIV><IMG id=_FoxTEXT src="..\Macro\_FoxTEXT.gif"></DIV>
			</DIV>
			</TD>
		</TR>
		</TABLE>
	</td>
    <td valign="top" background="../images/咖啡/m_bgr.jpg"></td>
  </tr>
  <tr>
    <td valign="top" background="../images/咖啡/dl.jpg" style="background-position:top right;"><img src="../images/spacer.gif" width="56" height="1" /></td>
    <td height="100%" colspan="2" valign="top" background="../images/咖啡/d_bg.jpg"><img src="../images/spacer.gif" width="1" height="56" /></td>
    <td height="56" valign="top" background="../images/咖啡/dr.jpg"><img src="../images/spacer.gif" width="55" height="1" /></td>
  </tr>
</table>
</BODY>
</HTML>