<HTML>
<HEAD>
<style type="text/css">
body {
	padding:0;
	margin:0;
}
</style>
</HEAD>
<BODY>
<!-- 52_302903_e11415f126781bf -->
<table width="99.99%" border="0" cellpadding="0" cellspacing="0" background="../images/天空/bg.jpg" bgcolor="#B1F0FF"id="Table_01"  style="background-position: top;background-repeat:repeat-x;font-family:Verdana, Arial, Helvetica, sans-serif;">
  <tr> 
    <td width="100%" valign="top" background="../images/天空/tl.jpg" style="background-position:left top;background-repeat:no-repeat;height:300px;padding:78px 40px 20px 50px;"> 
		<TABLE width="100%" style="cellpadding: 0px; cellspacing: 0px; margin-top: 0px; margin-Left: 0px">
		<TR>
			<TD style="line-height:160%;" valign="top">
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
				<FONT size=2 face=Verdana color=#000080>
				<DIV><IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif"></DIV>
				<DIV>&nbsp;</DIV>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif">
					</FONT>
				</DIV>
				<HR align=left style="WIDTH: 122px; HEIGHT: 2px" SIZE=2>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif">
					</FONT>
				</DIV>
				<HR>
				<DIV>
					<STRONG>发件人：</STRONG> 
						<IMG id=_FoxOFROMNAME src="..\Macro\_FoxOFROMNAME.gif">
				</DIV>
				<DIV>
					<STRONG>发送时间：</STRONG> 
						<IMG id=_FoxODATE src="..\Macro\_FoxODATE.gif">&nbsp;
						<IMG id=_FoxOTIME src="..\Macro\_FoxOTIME.gif">
				</DIV>
				<DIV>
					<STRONG>收件人：</STRONG> 
						<IMG id=_FoxOTONAME src="..\Macro\_FoxOTONAME.gif">
				</DIV>
				<DIV>
					<STRONG>抄送：</STRONG> 
						<IMG id=_FoxOCCNAME src="..\Macro\_FoxOCCNAME.gif">
				</DIV>
				<DIV>
					<STRONG>主题：</STRONG> 
						<IMG id=_FoxOSUBJ src="..\Macro\_FoxOSUBJ.gif">
				</DIV>
				</FONT>
				<DIV>&nbsp;</DIV>
				<DIV><IMG id=_FoxTEXT src="..\Macro\_FoxTEXT.gif"></DIV>
			</DIV>
			</TD>
		</TR>
		</TABLE>      
	</td>
  </tr>
  <tr >
    <td align="right" valign="top" ><img src="../images/天空/dr.gif" width="125" height="25" /></td>
  </tr>
</table>
</BODY>
</HTML>