<HTML>
<HEAD>
<style type="text/css">
body {
	padding:0;
	margin:0;
}
</style>
</HEAD>
<BODY>
<!-- 52_302903_e11415f126781bf -->
<table id="Table_01" width="99.99%" border="0" cellpadding="0" cellspacing="0" style="	font-family:Verdana, Arial, Helvetica, sans-serif;">
  <tr>
    <td valign="top" background="../images/花卉/tl.jpg"><img src="../images/spacer.gif" width="138" height="1" /></td>
    <td valign="top" background="../images/花卉/bg.jpg">&nbsp;</td>
    <td valign="top" background="../images/花卉/m_bg.jpg"><img src="../images/花卉/tr.jpg" width="80" height="60" /></td>
  </tr>
  <tr> 
    <td valign="top" background="../images/花卉/m_tl.jpg">&nbsp; </td>
    <td width="100%" valign="top" background="../images/花卉/bg.jpg" style="height:300px;padding:0 0 70px 30px;">
		<TABLE width="100%" style="cellpadding: 0px; cellspacing: 0px; margin-top: 0px; margin-Left: 0px" >
		<TR>
			<TD style="line-height:160%;" valign="top">
			<DIV id="divFMContentBody" style="white-space:normal; word-break:break-all; width: 100%">
			      <FONT size=2 face=Verdana color=#265800>
				<DIV>
					
						<IMG id=_FoxCURSOR src="..\Macro\_FoxCURSOR.gif">
					
				</DIV>
				<DIV><FONT size=2 face=Verdana color=#265800></FONT>&nbsp;</DIV>
				<DIV>
					<FONT color=#c0c0c0>
						<IMG id=_FoxDATE src="..\Macro\_FoxDATE.gif">
					</FONT>
				</DIV>
				<DIV align=left>
					<HR align=left style="WIDTH: 122px; HEIGHT: 2px" SIZE=2>
				</DIV>
				<DIV>
					<FONT color=#c0c0c0 >
						<IMG id=_FoxFROMNAME src="..\Macro\_FoxFROMNAME.gif">
					</FONT>
				</DIV>
				<HR>
				<DIV>
					<STRONG>发件人：</STRONG> 
						<IMG id=_FoxOFROMNAME src="..\Macro\_FoxOFROMNAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>发送时间：</STRONG> 
						<IMG id=_FoxODATE src="..\Macro\_FoxODATE.gif">&nbsp;
						<IMG id=_FoxOTIME src="..\Macro\_FoxOTIME.gif">
					
				</DIV>
				<DIV>
					<STRONG>收件人：</STRONG> 
						<IMG id=_FoxOTONAME src="..\Macro\_FoxOTONAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>抄送：</STRONG> 
						<IMG id=_FoxOCCNAME src="..\Macro\_FoxOCCNAME.gif">
					
				</DIV>
				<DIV>
					<STRONG>主题：</STRONG> 
						<IMG id=_FoxOSUBJ src="..\Macro\_FoxOSUBJ.gif">
					
				</DIV>
			     </FONT>
				<DIV>&nbsp;</DIV>
				<DIV><IMG id=_FoxTEXT src="..\Macro\_FoxTEXT.gif"></DIV>
			</DIV>
			</TD>
		</TR>
		</TABLE>	
	</td>
    <td width="47" valign="top" background="../images/花卉/m_bg.jpg">&nbsp;</td>
  </tr>
</table>
</BODY>
</HTML>